* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1920px;
    padding: 0 160px;
}

header {
    height: 100px;
    background: black;
    margin-bottom: 10px;
}

.header-name img {
    height: 80px;
    margin: 10px 10px;
}

.sec-1 {
    display: flex;
    gap: 10px;
}

.categories {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.categories img {
    width: 20px;
    height: 20px;
}

.categories li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 18px;
}

.categories li:hover {
    color: red;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid #e3dbdb;
    width: 175px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
}

.card img {
    height: 200px;
    object-fit: contain;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 45%;
}

#product-info {
    width: 45%;
}

h3 {
    color: red;
}

.product {
    display: flex;
    flex-direction: column;
    height: 650px;
}

.product img {
    height: 350px;
    object-fit: contain;
}

.btn-all {
    width: 40%;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: #4ecc4e;
    padding: 8px 12px;
}

.btn-all:hover {
    background: #4de04d;
}

.customer-form {
    display: none;
    flex-direction: column;
    position: absolute;
    background: grey;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer-form input, select, textarea {
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 12px;
}

#table-customer {
    position: fixed;
    bottom: 20px;
    left: -600px;
    transition: 2s all;
    width: 500px;
    background: #d0c4c4;
    border-radius: 12px;
    padding: 8px;
}

.close, .close-form {
    cursor: pointer;
    text-align: right;
}



